<section id="switch">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Simulações</div>
      <p class="content-sub-header"></p>
    </div>
  </div>

  <section class="basic-textarea">
    <div class="row text-left">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">Avaliação de crédito</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <form class="form">
                <div class="form-body">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                      <fieldset class="form-group">
                        <label for="disabledInput">Índice Akati</label>
                        <p class="form-control-static" id="staticInput">Aprovado</p>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row text-left">
    <div class="col-xl-4 col-lg-4 col-12">
      <a [routerLink]="['/forms/basic']">
        <div class="card">
          <div class="card-header">
            <h4>Banco 01 - <strong>3x 180,54</strong></h4>
          </div>
          <div class="card-body">
            <p>Taxa: 1%</p>
            <p>Produtos: consignado</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-12">
      <a [routerLink]="['/forms/basic']">
        <div class="card">
          <div class="card-header">
            <h4>Banco 01 - <strong>6x 125,12</strong></h4>
          </div>
          <div class="card-body">
            <p>Taxa: 1,3%</p>
            <p>Produtos: consignado, crédito pessoal</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-12">
      <a [routerLink]="['/forms/basic']">
        <div class="card">
          <div class="card-header">
            <h4>Banco 02 - <strong>9x 89,32</strong></h4>
          </div>
          <div class="card-body">
            <p>Taxa: 1,5%</p>
            <p>Produtos: consignado, cdc</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>